
<table class="table bg-light">
    <caption>user details</caption>
    <thead class="text-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email id</th>
            <th scope="col">Password</th>
            <th scope="col">Confirm Password</th>
            <th scope="col">phone no</th>

        </tr>
    </thead>
    <tbody class="text-dark">
        <tr *ngFor="let obj of object">
            <td>{{obj.first_name}}</td>
            <td>{{obj.last_name}}</td>
            <td>{{obj.email_id}}</td>
            <td>{{obj.password}}</td>
            <td>{{obj.confirm_password}}</td>
            <td>{{obj.contact_no}}</td>

            <td><button class="btn btn-primary" (click)="deleteuser(obj,obj)">Delete</button></td>

        </tr>
    </tbody>
</table>