
<form [formGroup]="myform">
    <strong>
        <h1 class="heading">ADD PRODUCTS</h1>
    </strong>
    <div action="#" id="form" method="post">

        <div class="container">
            <div class="tab tab-2">
                <div class="field">
                    <label for="report">S.NO :</label>
                    <input type="number" name="report" pattern="[A-Za-z]*[0-9]*[A-Za-z]*" placeholder="Enter your S.NO"
                        id="Serial_no" formControlName="Serial_no">
                </div>
                <div class="field">
                    <label for="Pro.ID">Pro.ID:</label>
                    <input type="text" name="report" pattern="[A-Za-z]*[0-9]*[A-Za-z]*" placeholder="Enter your Pro.ID"
                        id="Pro.ID" formControlName="Pro_ID">
                </div>
             
                <div class="field">
                    <label for="cars">Pro.Type:</label>
                    <select name="products" class="products" formControlName="Pro_type">
                        <option value="select">select</option>
                        <option value="cotton">Cotton</option>
                        <option value="silk">Silk</option>
                        <option value="Polyester">Polyester</option>
                        <option value="denium">Denim</option>
                    </select>
                </div>
                <div class="field">
                    <label for="cars">Pro.name:</label>
                    <select name="products" class="products" formControlName="Pro_name">
                        <option value="select">select</option>
                        <option value="cotton">Sarees</option>
                        <option value="silk">shirts</option>
                        <option value="Polyester">Jeans</option>
                        <option value="denium">Betchits</option>
                    </select>
                </div>
                <div class="field">
                    <label for="cars">Sup.ID:</label>
                    <select name="products" class="products" formControlName="sup_ID" (change)="shift($event)">
                        <option *ngFor="let sup of object2" class="text-dark">{{sup. Serial_id}}</option>
                    </select>
                </div>
                <div class="field">
                    <label for="Pro.ID">Sup.name:</label>
                    <input type="text" name="report" pattern="[A-Za-z]*[0-9]*[A-Za-z]*"
                        placeholder="Enter your sup name" id="Pro.ID" formControlName="sup_name">
                </div>
                <div class="field">
                    <label for="report">Qty :</label>
                    <input type="number" name="report" pattern="[A-Za-z]*[0-9]*[A-Za-z]*"
                        placeholder="Enter your Quantity" id="quantity" formControlName="quantity">
                </div>
                <div class="field">
                    <label for="report">Cost :</label>
                    <input type="number" name="report" pattern="[A-Za-z]*[0-9]*[A-Za-z]*" placeholder="Enter your Cost"
                        id="Cost" formControlName="Cost">
                </div>
                <div class="buttons">

                    <button id="btn" (click)="Register(this.myform.value)">OK</button>


                    <button id="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
