<div class="form-outline">
    <div class="btn1234">
    <input type="search" [(ngModel)]="term" class="form-control mt-5 search" placeholder="Type to search" />
<div>
<button  class="btn12345" (click)="getuser()">fetch</button>
</div>
<div class="table123">
<table class="table bg-light">
    <thead class="text-dark">
        <tr>
            <th scope="col">Serial_id</th>
            <th scope="col">name</th>
            <th scope="col">contact</th>
            <th scope="col">email_id</th>
            <th scope="col">aadhar</th>
            <th scope="col">city</th>
            <th scope="col">State</th>
        </tr>
    </thead>
    <tbody class="text-dark">
    
        <tr *ngFor="let obj of object |filter:term">
            <td scope="row">{{obj.Serial_id}}</td>
            <td scope="row">{{obj.name}}</td>
            <td scope="row">{{obj.contact}}</td>
            <td scope="row">{{obj.email_id}}</td>
            <td scope="row">{{obj.aadhar}}</td>
            <td scope="row">{{obj.city}}</td>
            <td scope="row">{{obj.State}}</td>



            <td scope="row"><button class="btn btn-primary"
                    (click)="deleteuser(obj,obj)">delete</button></td>

        </tr>
    </tbody>
</table>
