<section>
    <div class="container">
      <div class="sidebar">
        <ul>
          <li>
            <a href="#">
              <div class="title">REXTILE-INDUSTRY-SOFTWARE</div>
            </a>
          </li>
          <li>
            <a >
              <i class="fas fa-th-large"></i>
              <div class="title">
                <button class="btn123"   routerLink="/home">
                Home</button></div>
            </a>
          </li>
  
          <li>
            <a >
              <i class="fa-solid fa-address-card"></i>
              <div class="title"> <button class="btn123" routerLink="/about"> About us</button></div>
            </a>
          </li>
          <li>
            <a >
              <i class="fa-solid fa-laptop-file"></i>
              <div class="title" ><button class="btn123" routerLink="/contact"> Contact us</button></div>
            </a>
          </li>
  
          <!-- <li>
            <a href="employee">
              <i class="fa-solid fa-user-graduate"></i>
              <div class="title">Offers</div>
            </a>
          </li>-->
          <li> 
            <a>
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
              <div class="title"><button class="btn123" routerLink="/login">Logout</button></div>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="top">
        <div class="top-bar">
          <div class="search">
            <input type="text" name="search" placeholder="search here" />
            <label for="search"><i class="fas fa-search"></i></label>
          </div> -->
      <!-- <i class="fas fa ball"></i>
          <div class="logo">
            <img src="../../assets/logo.png" alt="" />
          </div>
        </div>
      </div> -->
      <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="card-name">Rating</div>
            <div class="numbers">4.5/5</div>

          </div>
          <div class="icon-box">
            <i class="fa-solid fa-heart"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-name">Offers</div>
            <div class="numbers">30%</div>

          </div>
          <div class="icon-box">
            <i class="fa-solid fa-face-grin-hearts"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-name">Quality</div>

            <div class="numbers">98.9%</div>
          </div>
          <div class="icon-box">
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-name">Collections</div>
            <div class="numbers">100+</div>

          </div>
          <div class="icon-box">
            <i class="fa-solid fa-box-open"></i>
          </div>
        </div>
      </div>
      <div class="tables">
        <div class="last-emp">
          <div class="heading">
            <h2>Supplier details</h2>
            <a><button class="btn" routerLink="/supllierdetails"
              > View All</button></a>
          </div>
          <table class="emp">
            <thead>
              <td>S.Id</td>
              <td>Name</td>
              <td>Contact</td>
              <td>Email-id</td>
            </thead>
            <tbody>
              <tr>
                <td>124ESF</td>
                <td>Anisha</td>
                <td>9087653421</td>
                <td>anisha7890@gmail.com
                  <!-- <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i> -->
                </td>
              </tr>
              <tr>
                <td>256FGH</td>
                <td>priya</td>
                <td>8976532314</td>
                <td>priya9098@gmail.com
                  <!-- <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i> -->
                </td>
              </tr>
              <tr>
                <td>389FTY</td>
                <td>Dhivya</td>
                <td>9086467732</td>
                <td>dhivya3745@gmail.com
                  <!-- <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i> -->
                </td>
              </tr>
              <tr>
                <td>478BNF</td>
                <td>Raji</td>
                <td>8907653424</td>
                <td>Raji6789@gmail.com
                  <!-- <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i> -->
                </td>
              </tr>
              <tr>
                <td>578GJI</td>
                <td>Rithi</td>
                <td>9087556566</td>
                <td>Rithi4567@gmail.com
                  <!-- <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="last-emp">
          <div class="heading">
            <h2>stock maintain</h2>
            <a><button class="btn" routerLink="/stockdetails"
              > View All</button></a>
          </div>
          <table class="visiting">
            <thead>
              <td>S.NO</td>
              <td>Date</td>
              <td>product Name</td>
              <td>cost</td>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>12-03-2022</td>
                <td>Cotton</td>
                <td>2000</td>
                <!-- <td><i class="far fa-eye"></i></td> -->
              </tr>
              <tr>
                <td>2</td>
                <td>24-07-2021</td>
                <td>Silk</td>
                <td>3000</td>
                <!-- <td><i class="far fa-eye"></i></td> -->
              </tr>
              <tr>
                <td>3</td>
                <td>12-05-2021</td>
                <td>polyester</td>
                <td>5000s</td>
                <!-- <td><i class="far fa-eye"></i></td> -->
              </tr>
            </tbody>
          </table>
         
        </div>
        <div class="heading1">
          <h2>User details</h2>
          <a><button class="btn" routerLink="/userdetails"
            > View All</button></a>
          </div>
      </div>
    </div>

  </section>

