<form>
    <b>
        <h1 class="heading">SIGN UP FORM</h1>
    </b>
    <div action="#" id="form" method="post">
        <div class="container">
            <div class="tab tab-2">
                <div class="field">
                    <label for="fname">first name :</label>
                    <input type="text" name="fname" placeholder=" Enter your first name" id="fname">
                </div>
                <div class="field">
                    <label for="lname"> Last Name :</label>
                    <input type="text" name="lname" placeholder=" Enter your last Name" id="lname">
                </div>
                <div class="field">
                    <label for="email id"> email id:</label>
                    <input type="text" name="email id" placeholder=" Enter your email id" id="emailid">
                </div>
                <div class="field">
                    <label for="password">password:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="field">
                    <label for="password"> Confirm password:</label>
                    <input type="password" name="password" id="password">
                </div>

                <div class="field">
                    <label for="report">Contact Number :</label>
                    <input type="number" name="report" pattern="[A-Za-z]*[0-9]*[A-Za-z]*"
                        placeholder=" Enter your contact Number" id="report">
                </div>

            <div class="buttons">

                <button id="btn">register</button>
                <button id="btn">cancel</button>
            </div>
        </div>
    </div>
    </div>
</form>